:root {
  --bot_btn_grad_dark: rgb(42, 39, 218);
  --bot_btn_grad_light: rgb(0, 204, 255);
  --bot_btn_grad_angle: 135deg;
  --bot_btn_shadow_color: rgb(0 77 255 / 50%) 0px 4px 24px;

  --bot_here_font_family: system-ui;

  --bot_header_grad_dark: rgb(42, 39, 218);
  --bot_header_grad_light: rgb(0, 204, 255);
  --bot_header_grad_angle: 135deg;

  --bot_header_text_color: white;

  --bot_chatarea_bg: #f6fbfe;
  --bot_chatarea_msg_option_color: #2d2df9;

  --bot_chatarea_bot_msg: rgb(240, 242, 247);
  --bot_chatarea_usr_msg: rgb(0, 102, 255);

  --bot_inputarea_submit_color: #0049b9;
}

.smartbot-chat-popup {
  font-family: var(--bot_here_font_family);
}

.smartbot-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.smartbot-section {
  max-width: 1100px;
  margin: auto;
  text-align: center;
  padding: 0 1rem;
}
.smartbot-h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.smartbot-p {
  font-size: 2rem;
}

.smartbot-chat-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: linear-gradient(
    var(--bot_btn_grad_angle),
    var(--bot_btn_grad_dark),
    var(--bot_btn_grad_light)
  );

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 1;

  transition: opacity 0.3s;
  box-shadow: var(--bot_btn_shadow_color);
}
.smartbot-close-button {
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.smartbot-close-button:hover {
  cursor: pointer;
}

.smartbot-chat-btn:hover,
.smartbot-submit:hover,
#emoji-btn:hover {
  opacity: 1;
}

#chat-popup {
  background: white;
  position: fixed;
  bottom: 98px;
  right: 81px;
  height: 0;

  width: 0;
  overflow: hidden;

  transition: all 0.25s ease-in;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4%;
  opacity: 0;
  box-shadow: 5px 5px 20px rgb(221 221 221);
  border-radius: 5px;
}

#chat-popup.show {
  display: flex;
  bottom: 80px;
  right: 120px;
  height: 80%;

  border-radius: 4%;
  width: 400px;
  opacity: 1;
  transition: all ease-in 0.25s;
  animation: showPanel 0.8s 1;
}

@keyframes showPanel {
  0% {
    height: 0;
    opacity: 0;
    width: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    height: 80%;
    opacity: 1;
    width: 400px;
  }
}
@keyframes hidePanel {
}

@keyframes showMessage {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

#sending-icon-display-thingy .smartbot-msg {
  animation: typingIcon 2s infinite;
}
@keyframes typingIcon {
  0% {
    color: gray;
  }
  50% {
    color: rgb(204, 204, 204);
  }
  100% {
    color: gray;
  }
}

.smartbot-chat-area {
  height: 80%;
  overflow-y: auto;
  opacity: 1 !important;
  background-color: var(--bot_chatarea_bg);
  padding: 0.3rem;
  overflow-x: hidden;
}

.smartbot-income-msg {
  text-align: left;
  display: flex;
  align-items: center;
}

.smartbot-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.smartbot-income-msg .smartbot-msg {
  background: var(--bot_chatarea_bot_msg);
  color: rgb(35, 35, 35);
  padding: 0.5rem;
  border-radius: 10px;
  margin-left: 1rem;
  animation: showMessage 0.4s 1;

  max-width: 14rem;
}

.smartbot-badge {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
}

.smartbot-information-panel {
  padding: 8px;
}

.smartbot-input-area {
  position: relative;
  display: flex;
  border-top: 2px solid #dcdcdc66;
  align-items: center;
  padding: 4px;
  justify-content: center;
}

.smartbot-file-field {
  padding: 20px;
}

.smartbot-input {
  width: 100%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px;
}

.smartbot-input::placeholder {
  color: black;
}

.smartbot-input:disabled {
  background-color: transparent;
  color: gray;
}
.smartbot-input:disabled::placeholder {
  color: gray;
}

.smartbot-input input[type='text']::placeholder {
  color: #e2e2e2;
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(240, 242, 247);
  border-radius: 90px;
}

.smartbot-submit {
  padding: 0.25rem 0.5rem;

  color: var(--bot_inputarea_submit_color);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  opacity: 0.7;
  font-size: 30px;

  padding: 20px;
  margin: 2px;
}

.smartbot-submit:disabled {
  color: gray;
}

.smartbot-msg-card {
  margin-top: 10px;
}
.smartbot-info {
  color: red;
  font-weight: bold;
  font-size: small;
  background: white;
  justify-content: center;
  width: fit-content;
  align-content: center;
  align-self: center;
  padding: 4px;
}
.smartbot-info-start {
  color: white;
  font-size: small;
  background: rgb(66, 223, 189);
  justify-content: center;
  width: fit-content;
  align-content: center;
  align-self: center;
  padding: 4px;
  border-radius: 10px;
}

.smartbot-out-msg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.smartbot-my-msg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0.75rem;

  border-radius: 10px;
  word-break: break-all;
}

.smartbot-usr-msg {
  padding: 0.5rem;
  background-color: var(--bot_chatarea_usr_msg);
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  word-break: normal;
  text-align: right;
  margin-right: 0.5rem;
  animation: showMessage 0.4s 1;
}

.smartbot-choice-msg {
  padding-left: 40px;
}
.smartbot-choice-msg .smartbot-msg {
  background: linear-gradient(0.2turn, #81e4d5, #71d6c7);
  border-radius: 20px;
  box-shadow: none;
  background: transparent !important;
  border: 1px solid var(--bot_chatarea_msg_option_color);
  color: var(--bot_chatarea_msg_option_color);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 5px;
}

.chatbot-icon {
  width: 57px;
  height: 57px;
  border-radius: 50%;
}

.smartbot-intro {
  display: flex;
  justify-content: start;
  max-height: fit-content;
  padding: 20px;
  box-shadow: 0 0 20px black;

  background-image: linear-gradient(
    var(--bot_header_grad_angle),
    var(--bot_header_grad_dark),
    var(--bot_header_grad_light)
  );
}

.border-img {
  border: 20px solid black;
  border-image: url('border-img.svg');
  border-image-slice: 0 0 100%;
  border-image-width: 0 0 15px;
  border-image-repeat: stretch;
  border-width: 0px 0px 15px;
  border-bottom-style: solid;
  border-color: initial;
  border-top-style: initial;
  border-left-style: initial;
  border-right-style: initial;
  width: calc(100% + 10px);
  position: absolute;

  left: 0;
  top: 100px;
}

.smartbot-intro-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  align-items: baseline;

  padding: 4px;
  height: 100%;

  padding-left: 10px;
}
.smartbot-intro-title {
  font-size: large;
  font-weight: bold;
  text-align: start;
  color: var(--bot_header_text_color);
}
.smartbot-status {
  font-size: small;
  font-weight: 400;
  color: gray;
  color: var(--bot_header_text_color);
}

.sm-node-link-preview {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.sm-node-link-preview a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 700px) {
  .smartbot-chat-popup {
    bottom: 120px;
    right: 10%;
    width: 80vw;
  }
}
@media only screen and (max-width: 600px) {
  .smartbot-chat-popup {
    bottom: 80px !important;
    right: 20px !important;
  }
  .smartbot-chat-btn {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .smartbot-chat-popup {
    bottom: 80px !important;
    right: 10px !important;
    width: 95% !important;
  }
}
@media (max-height: 500px) {
  .smartbot-chat-popup {
    height: 80% !important;
  }
}

@media screen and (max-width: 280px) {
  .border-img {
    display: none;
  }
}

.smartbot-typing-icon {
  position: absolute;
  font-size: 6px;
  color: rgba(139, 139, 139, 0.589);

  bottom: 100px;
  left: 60px;
}
